.section {
  width: 100%;
  height: 100%;
  color: $white;
  position: absolute;
  top: 0;
  left: 0;

  visibility: hidden;
  opacity: 0;

  //transition: all .4s ease-in-out 0s;

  &.is-visible {
    visibility: visible;
    opacity: 1;
  }
}

.section--one {
  background-color: #f96345;
}

.section--two {
  background-color: #45f977;
}

.section--three {
  background-color: #45a2f9;
}

.section--four {
  background-color: #cd3aff;
}

.title {
  .section & {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}